<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="futureloan">
    <listeners>
        <listener class-name="com.zhongxin.listeners.AllureReportListener"></listener>
        <listener class-name="com.zhongxin.listeners.RetryListener"></listener>
    </listeners>
    <test name="登录测试">
        <classes>
            <class name="com.zhongxin.cases.LoginCase"></class>
        </classes>
    </test>
</suite>